name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - 'Helm/**/Chart.yaml'

jobs:
  release:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Generate Random Branch Name
        id: vars
        run: echo "BRANCH=${GITHUB_ACTOR}/helm-release-temp-$(uuidgen | cut -d'-' -f1)" >> $GITHUB_ENV

      - name: Update or Create Branch
        run: |
          git fetch origin
          if git ls-remote --exit-code --heads origin $BRANCH; then
            git checkout $BRANCH
            git merge main --no-edit
          else
            git checkout main -b $BRANCH
          fi
          git push origin $BRANCH

      - name: Install Helm
        uses: azure/setup-helm@v4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: Helm
          pages_branch: ${{ env.BRANCH }}
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      
      - name: Delete temp branch if no diff from main
        run: |
          if git diff --quiet origin/main...HEAD; then
            echo "No changes from main. Deleting temp branch $BRANCH."
            git push origin --delete $BRANCH
          else
            echo "Branch $BRANCH has changes from main and needs merge."
          fi
